/* REVISIT 6,7,8,11  */

header {		/* 1  */
	margin-bottom: 3rem;
}

p {		/* 2  */
	line-height: 1.6;
}

a.see-all {		/* 3  */ 
	font-size: 0.8em;
	text-transform: uppercase;
}

h1 {		/* 4  */
	font-size: 2.5rem;
}

h2 {		/* 5  , 6??*/
	text-transform: uppercase;
	font-size: 1rem;
} 

li h1, h2{

	font-weight: lighter; /*or 300?*/
}

/*img.li.ul.h2 {		 7?????????  
be specific
^ WRONG ORDER
	
	width: 100%;
}*/

section.cast ul li a img {
	width:100%;
}


section.cast ul li { 		/* 8 				thiiss */ 
	/*how does one space after li change things so much*/
	width: 25%;
}

section.cast ul li div {
	font-size: 0.8rem;
}




#game-of-thrones,
#unbreakable-kimmy-schmidt { /* 9  */
	/* there has to be a better way to do this, right
a more general selector?

	*/
	border-top: 1px solid black
}

/*header nav ul li:nth-child(2) {
	font-weight: bold;
	color:black;
}*/

li.selected * {		/* 10 */
	font-weight:bold;
	color:black;
}

		/* 11?? see after 8 */

a div:nth-child(2) {	/* 12  */		
	font-weight:bold;
}

a div:nth-child(3) { 	/* 13  */
	/*	font-weight:lighter;*/
	font-style:italic;
}


.shows #game-of-thrones .seasons li:last-child::after { /* 14  */
	content: "*";
}

/*
li.seasons :last-child ::after {


spaces = dividers
with a space = any li

	content: "*";
} 									whats wrong with this order? is it bc it's broad > specific?
*/
/* also when do you need a space, when not? */



.shows #game-of-thrones .synopsis::before { 	/* 15  */
	content: "* Final Season";
	font-size:0.7rem;
	color: #999;
}






